<app-header></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem">Activar historia clínica</mat-list-item>
      <mat-list-item role="listitem">Solicitar acceso a HC</mat-list-item>
      <mat-list-item role="listitem" matBadgeOverlap="false">
        <span matBadge="1" matBadgeOverlap="false">Respuesta a solicitud</span>
      </mat-list-item>
      <mat-list-item>Cerrar Sesión</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <!--<app-medical-request-access></app-medical-request-access>-->
    <app-medical-visual-medical-record></app-medical-visual-medical-record>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>