<app-header></app-header>

<div class="formulario">
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Padecimiento</mat-label>
            <textarea matInput placeholder="Padecimiento">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Sintomas y signos</mat-label>
            <textarea matInput placeholder="Sintomas y signos"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Causa Externa</mat-label>
            <textarea matInput placeholder="Causa Externa"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Exploración física</mat-label>
            <textarea matInput placeholder="Exploración física"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Interrogatorio por sistemas</mat-label>
            <textarea matInput placeholder="Interrogatorio por sistemas"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Codigo de diagnóstico</mat-label>
            <textarea matInput placeholder="Codigo de diagnóstico"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Conducta</mat-label>
            <textarea matInput placeholder="Conducta"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Tipo de diagnóstico</mat-label>
            <textarea matInput placeholder="Tipo de diagnóstico"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-radio-group>
            <mat-radio-button value="auto">Primera Vez? Si</mat-radio-button>
            <mat-radio-button value="always">No</mat-radio-button>
          </mat-radio-group>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Días de incapacidad</mat-label>
            <textarea matInput placeholder="Días de incapacidad"></textarea>
        </mat-form-field>
    </p>
</div>
<app-footer></app-footer>