.fixed-header {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 2;
    width: 100% !important;
    height: 60%;
}

.mat-toolbar.mat-primary {
    background: #3f45f0;
    color: #fff;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
    position: relative;
    left: 160%;
}