<app-header></app-header>
<mat-toolbar color="primary" class="fixed-header">

    <div class="header-button" fxShow="true" fxHide.lt-md fxFlex fxLayout>
        <ul>
            <!--<li>
                <a mat-button [routerLink]="['/']"> Inicio </a>
            </li>-->
        </ul>
    </div>
    <div class="buttons">
        <button mat-raised-button [routerLink]="'/patient-page'">Start Patient</button>
        <button mat-raised-button [routerLink]="'/medical-page'">Start Medical</button>
    </div>
</mat-toolbar>
<app-footer></app-footer>