<mat-list>
    <mat-list-item>
        <h4>Nombre: </h4>
        &nbsp; Pepito Perez
    </mat-list-item>
    <mat-list-item>
        <h4>Fecha de nacimiento: </h4>
        &nbsp; 01/01/2001
    </mat-list-item>
    <mat-list-item>
        <h4>Documento de identidad: </h4>
        &nbsp; 111111
    </mat-list-item>
    <mat-list-item>
        <div class="table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef> Tipo </th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef> Fecha </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="medico">
                  <th mat-header-cell *matHeaderCellDef> Medico </th>
                  <td mat-cell *matCellDef="let element"> {{element.medico}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>        
    </mat-list-item>
   </mat-list>