<mat-toolbar color="primary" class="header">
    <div class="header-button" fxShow="true" fxHide.lt-md fxFlex fxLayout>
        <ul>
            <li>
                <a mat-button [routerLink]="['/']"> Visualizar </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Consulta </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Urgencia </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Inmunizacion </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Traumatismo </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Hospitalización </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Recien Nacidos </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Antecedentes patológicos </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Procedimientos quirúrgicos </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Antecedentes laborales </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Transfusiones </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Intolerancia a medicamentos </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Hipersensibilidades </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Hábitos personales </a>
            </li>
            <li>
                <a mat-button [routerLink]="['/']"> Info. Gineco-obstétrica </a>
            </li>

        </ul>
    </div>

</mat-toolbar>
